main h1 {
    text-align: center;
}

main .container {
    margin: 0 auto;
    background-color: var(--white-color);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    grid-auto-rows: max-content;
    gap: 1rem;
}

.place-cards {
    display: grid;
    grid-template-areas:
        "title"
        "picture"
        "description"
        "address"
        "button";
    grid-template-columns: 1fr;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    font-size: .8rem;
    gap: .5rem;
    animation: 1s come-in;
}

.place-cards .place-title {
    grid-area: title;
    font-weight: bold;
    text-align: center;
}

.place-cards .place-image {
    grid-area: picture;
    place-self: center;
}

.place-cards .place-image img {
    aspect-ratio: 3/2;
    object-fit: contain;
}

.place-cards .place-description {
    grid-area: description;
    text-align: center;
    padding: .5rem;
}

.place-cards .place-address {
    grid-area: address;
    text-align: center;
}

.place-cards .place-btn,
.place-cards .place-btn:active {
    grid-area: button;
    margin: 0.5rem;
    padding: .5rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
    outline: none;
}

.place-cards .place-btn:hover {
    background-color: var(--secondary-color-lite);
}

@keyframes SlideIn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-500%);
    }
}