@media screen and (min-width: 60rem) {
    main .container {
        grid-template-columns: 1fr 1fr;
        max-width: 1400px;
    }

    .place-cards {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: .2rem;
        grid-template-areas:
            "picture title"
            "picture description"
            "picture address"
            "picture button";
        justify-content: start;
        align-items: start;
        place-content: start;
        text-align: left;
        font-size: .7rem;
    }
}