/* 

    Tablet Styles

*/

@media screen and (min-width: 600px) {
    .hero-container .hero-btn {
        bottom: 3rem;

    }

    .event-weather-container {

        grid-template-columns: 1fr 1fr;
        grid-template-areas: "event event"
            "currweather forecast";
        /* align-items: center; */
        justify-items: space-around;
        /* max-width: 350px; */
        margin: 0 auto;
    }

    .event {
        grid-area: event;
    }

    .curr-weather {
        grid-area: currweather;
    }

    .weather-forecast {
        grid-area: forecast;
    }

    .section2 .top-business-container {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        /* grid-template-areas: "biz1 biz2"; */
    }

}

/* 

    Largest Desktop Styles

*/

@media screen and (min-width: 1000px) {
    .event-weather-container {
        grid-template-columns: 2fr minmax(320px, 1fr) minmax(330px, 1fr);
        grid-template-areas: "event currweather forecast";
    }
}