   @media screen and (min-width:30rem) {

       /* html {
           scroll-snap-type: y mandatory;
       }

       body>* {
           scroll-snap-align: start;
       } */

       /* Hero Section */
       .hero {
           grid-template-columns: 1fr 1fr;
           min-height: 50vh;
       }

       .second-content {
           margin: 0;
       }

       .second-content img {
           max-width: 80%;
           margin: 0rem auto;
           z-index: 9;
       }
   }