@media screen and (min-width:40rem) {

    /* Header */
    .header-container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .brand-container {
        /* max-width: max-content; */
        place-content: center;
    }

    nav {
        display: block;
        place-content: center;
    }

    nav ul {
        list-style: none;
        flex-direction: row;
        place-content: center;
    }

    nav a {
        padding: 20px 10px;
    }


    /* Hambuger Menu Design */
    .small-menu-button {
        display: none;
    }



    /* Book Card */
    .book {
        flex-shrink: 1;
        width: 250px;
    }

    /* Footer Design */


    .top-footer-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "brand links socials";
    }

    .top-footer-container h3 {
        grid-area: brand;
    }

    .top-footer-container nav.nav {
        grid-area: links;
    }

    .top-footer-container nav.nav ul {
        justify-content: center;
        /* font-weight: 400 !important; */

    }

    .top-footer-container .socials {
        grid-area: socials;
        max-width: 100%;
        justify-content: end;
        gap: 1rem
    }

}