main {
    background-color: var(--accent-color-4);
}

.hero-container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 1500px;
}

/* .hero-content h1 {
    color: #fff;
} */
picture {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    /* border: 1px solid red; */
}


picture img {
    /* max-width: 100%; */
    object-fit: contain;
    /* aspect-ratio: 16/9; */
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    /* width: 100%; */
}

.hero-container .hero-btn {
    border: none;
    background-color: var(--accent-color-4);
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: .8rem 1rem;
    position: absolute;
    bottom: 10px;
    right: 20px;
    border-radius: 5px;
}

.hero-container .hero-btn:hover {
    background-color: var(--primary-color);
    color: var(--accent-color-4);
}

.section1>h1 {
    background-color: var(--accent-color);
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
}

.section1 {
    background-color: var(--accent-color);
    margin: 0;
    padding: 15px 0;
}

.event-weather-container {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 1.5fr 1fr 1fr; */
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem .7rem;
    grid-auto-rows: 1fr;
}

.event-weather-container section {
    /* From https://css.glass */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(10.2px); */
    /* -webkit-backdrop-filter: blur(10.2px); */
    /* border: 1px solid rgba(92, 81, 140, 0.72); */
    padding: 0;
    border: 1px solid #424242;
    background: #424242;
    border-radius: 16px;
    overflow: hidden;
}


.event-weather-container section h2 {
    background-color: var(--primary-color);
    color: var(--accent-color-4);
    padding: .7rem;
    margin: 0 auto;
    text-align: center;
}

.event-weather-container section div.curr-weather {
    /* height: 50px; */
    padding: 1rem 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "w-icon temp"
        "w-icon temp"
        "w-icon w-info"
        "high humidity"
        "low sunrise"
        "wind sunset";
    /* align-items: center; */
    justify-items: space-around;
    max-width: 350px;
    margin: 0 auto;
}

.event-weather-container section div.curr-weather>* {
    /* border: 1px solid white; */
    /* width: min-content; */
    display: inline-block;
}

.event-weather-container section div.curr-weather .weather-icon {
    grid-area: w-icon;
    justify-self: center;
    margin: 0 auto;
    width: 100px;
    padding: 0;
}

.event-weather-container section div.curr-weather .temp {
    grid-area: temp;
    align-self: center;
    justify-self: left;
    font-size: 1.6rem;
    margin: .3rem 0 0;
    text-align: left;
}

.event-weather-container section div.curr-weather .weather-info {
    grid-area: w-info;
    font-size: medium;
    margin: -5px 0;
    padding: 0;
    text-transform: capitalize;
    color: var(--accent-color-1);
}


.event-weather-container section div.curr-weather .high-temp {
    grid-area: high;
    /* border: 1px solid green; */
    padding-left: .7rem;
}

.event-weather-container section div.curr-weather .low-temp {
    grid-area: low;
    padding-left: .7rem;

}

.event-weather-container section div.curr-weather .humidity {
    grid-area: humidity;
}

.event-weather-container section div.curr-weather .sunset {
    grid-area: sunset;
}

.event-weather-container section div.curr-weather .sunrise {
    grid-area: sunrise;
}

.event-weather-container section div.curr-weather .wind {
    grid-area: wind;
    padding-left: .7rem;
}

.weather-forecast div p {
    color: white;
    font-size: 1rem;
    /* border: 1px solid var(--accent-color-1); */
    padding: .6rem;
}

/* 

        Section 2 Styles 


*/

.section2 {
    background-color: var(--accent-color-4);
    padding: 2rem 0;
}

.section2 .top-business-container {
    max-width: 1500px;
    margin: 0 auto;
    /* border: 1px saddlebrown solid; */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-auto-rows: 150px;
    gap: 1rem;
}

.section2 .top-business-container .top-business {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 0 1rem;
    /* grid-auto-rows: 300px; */
    display: block;
    overflow: hidden;
    /* display: flex; */
    /* color: aliceblue; */
}

.section2 .top-business-container .top-business h1 {
    text-align: center;
    display: block;
    font-size: 16px;
}

.section2 .top-business-container .top-business .biz-tagline {
    text-align: center;
    display: none;
}

.section2 .top-business-container .top-business .biz-details-container {
    border-top: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: start;
}

.section2 .top-business-container .top-business .biz-details-container img {
    width: 70px;
    aspect-ratio: 4/3;
    object-fit: contain;
    margin: 0 1rem;
}

.section2 .top-business-container .top-business .biz-details-container p:last-of-type {
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.section2 .top-business-container .top-business .biz-details-container p:last-of-type a {
    /* max-width: ; */
}

/* 

    Tablet Styles

*/

@media screen and (min-width: 600px) {
    .hero-container .hero-btn {
        bottom: 3rem;

    }

    .event-weather-container {

        grid-template-columns: 1fr 1fr;
        grid-template-areas: "event event"
            "currweather forecast";
        /* align-items: center; */
        justify-items: space-around;
        /* max-width: 350px; */
        margin: 0 auto;
    }

    .event {
        grid-area: event;
    }

    .curr-weather {
        grid-area: currweather;
    }

    .weather-forecast {
        grid-area: forecast;
    }

    .section2 .top-business-container {
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        /* grid-template-areas: "biz1 biz2"; */
    }

}

/* 

    Largest Desktop Styles

*/

@media screen and (min-width: 1000px) {
    .event-weather-container {
        grid-template-columns: 2fr minmax(320px, 1fr) minmax(330px, 1fr);
        grid-template-areas: "event currweather forecast";
    }
}