:root {
    --primary-color: #191D2B;
    --secondary-color: #2c3e50;
    --secondary-color-lite: #35495c;
    --white-color: #f8f8f8;
    --accent-color: #FFEAD6;
    --accent-color-1: #bccac1;
    --accent-color-2: #813640;
    --accent-color-3: #191D2B;
    --accent-color-4: #D8D8D8;
    --background-color: #bccac1;
    --text-color: #2c3e50;
    --card-dark-color: var(--accent-color);
    --header-font: 'Lato', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

@media(prefers-color-scheme: dark) {
    :root {
        --primary-color: #191D2B;
        --secondary-color: #2c3e50;
        --secondary-color-lite: #35495c;
        --white-color: #f8f8f8;
        --accent-color: #FFEAD6;
        --accent-color-1: #bccac1;
        --accent-color-2: #813640;
        --accent-color-3: #191D2B;
        --accent-color-4: #D8D8D8;
        --background-color: #bccac1;
        --text-color: #2c3e50;
        --card-dark-color: var(--accent-color);
        --header-font: 'Lato', sans-serif;
        --body-font: 'Verdana', sans-serif;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    font-size: 12px;
}

header {
    background-color: var(--primary-color);
    color: white;
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color)
}

header .container {
    padding: .4rem 0 0;
    font-family: var(--header-font);
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    grid-template-areas: "logo theme button"
        "nav nav nav";
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

header .site-title {
    /* border: 1px solid red; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "logo title"
        "logo subtitle";
    column-gap: 5px;
    padding: .8rem;
    cursor: pointer;
}

header .site-title img {
    width: 48px;
    grid-area: logo;
    align-self: center;
}

header .site-title h1 {
    margin: 0;
    font-size: 2.5em;
    grid-area: logo;
    color: rgb(238, 238, 238);
    text-transform: uppercase;
    grid-area: title;
}

header .site-title p {
    margin: 0;
    font-size: .5rem;
    color: var(--accent-color);
    grid-area: subtitle;
}

header .hamburger-btn {
    /* display: none; */
    background: none;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    color: white;
    grid-area: button;
    justify-self: end;
    /* border: 1px solid white; */
}

header .hamburger-btn::before {
    content: "\268C";
    font-size: 1.5em;
    transition: content 5s ease-out;
}

header .hamburger-btn.open::before {
    content: "\2613";
    font-size: 1.2em;
    padding: .3rem;
    font-weight: bold;
}

header .hamburger-btn.open,
header .hamburger-btn:hover,
header .site-title h1:hover {
    color: var(--accent-color);
}

header .theme {
    font-size: 1.3rem;
    justify-self: end;
    padding: .3rem .4rem;
    margin: 0;
    border: none;
    cursor: pointer;
    transition: all .4s ease;
    /* color: #813640; */
}

header .theme:hover {
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--accent-color-1);
    padding: .2rem .3rem;
    border: 1px solid var(--accent-color-1);
}

header nav.show {
    grid-area: nav;
    display: none;
    grid-template-rows: 1fr;
    visibility: hidden;
    padding: 0;
    /* overflow: hidden; */
    /* visibility: hidden; */
    background-color: var(--secondary-color);
    animation: display-ease .2s ease-out;
    /* transition: grid-template-rows .7s ease-out; */
}

nav ul.menu-links {
    list-style-type: none;
    padding: 0;
    /* overflow: hidden; */
}

nav ul {
    min-height: auto;
    margin: 0;
    padding: 0px;
    /* border: 1px solid white; */
}

header nav.show.open {
    display: grid;
    grid-template-rows: 1fr;
    visibility: visible;
}

header nav.show ul li a {
    color: white;
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: border .2s ease;
}

/* .visibility {} */

@keyframes display-ease {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes display-grid-ease {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

header nav.show ul li a:hover,
header nav.show ul li a.active {
    border-left: 3px solid var(--background-color);
}



footer {
    /* margin-top: 1rem; */
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 0 20px var(--primary-color)
}

footer .footer-container {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    font-size: .7rem;
    justify-content: space-between;
}

footer .socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0;
}

footer .socials img {
    cursor: pointer;
}

footer .author-details {
    border: 0;
    padding: 10px 0;
}

footer .author-details .lstMod {
    color: var(--background-color);
}