:root {
    --primary-color: #191D2B;
    --secondary-color: #2c3e50;
    --secondary-color-lite: #4c637a;
    --accent-color: #FFEAD6;
    --accent-color-1: #bccac1;
    --accent-color-2: #813640;
    --accent-color-3: #191D2B;
    --accent-color-4: #D8D8D8;
    --background-color: #ca9428;
    --text-color: #2c3e50;
    --card-dark-color: var(--accent-color);
    --header-font: 'Lato', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    font-size: 12px;
}

header {
    background-color: var(--primary-color);
    color: white;
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color)
}

header .container {
    padding: .4rem 0 0;
    font-family: var(--header-font);
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    grid-template-areas: "logo theme button"
        "nav nav nav";
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

header .site-title {
    /* border: 1px solid red; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "logo title"
        "logo subtitle";
    column-gap: 5px;
    padding: .8rem;
    cursor: pointer;
}

header .site-title img {
    width: 48px;
    grid-area: logo;
    align-self: center;
}

header .site-title h1 {
    margin: 0;
    font-size: 1.5em;
    grid-area: logo;
    color: rgb(238, 238, 238);
    text-transform: uppercase;
    grid-area: title;
}

header .site-title p {
    margin: 0;
    font-size: .5rem;
    color: var(--accent-color);
    grid-area: subtitle;
}

header .hamburger-btn {
    /* display: none; */
    background: none;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    color: white;
    grid-area: button;
    justify-self: end;
    /* border: 1px solid white; */
}

header .hamburger-btn::before {
    content: "\268C";
    font-size: 1.5em;
    transition: content 5s ease-out;
}

header .hamburger-btn.open::before {
    content: "\2613";
    font-size: 1.2em;
    padding: .3rem;
    font-weight: bold;
}

header .hamburger-btn.open,
header .hamburger-btn:hover,
header .site-title h1:hover {
    color: var(--accent-color);
}

header .theme {
    font-size: 1.5rem;
    justify-self: end;
    padding: .3rem .4rem;
    margin: 0;

}

header nav.show {
    grid-area: nav;
    display: grid;
    grid-template-rows: 0fr;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
    transition: grid-template-rows .7s ease-out;
}

nav ul.menu-links {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

nav ul {
    min-height: auto;
    margin: 0;
    padding: 0px;
    /* border: 1px solid white; */
}

header nav.show.open {
    grid-template-rows: 1fr;
}

header nav.show ul li a {
    color: white;
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

header nav.show ul li a:hover,
header nav.show ul li a.active {
    background-color: var(--secondary-color-lite);
}

/* header nav.hide { */
/* max-height: 1000px; */
/* overflow: auto; */
/* } */

main {
    padding: 20px;
}

main h1 {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
}

main .grid-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .grid-list-container .btn {
    margin: 0 .4rem;
    padding: .5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    width: max-content;
}

main .grid-list-container .btn:hover,
main .grid-list-container .btn.active {
    border: 1px solid var(--accent-color-3);
}

#cards {
    padding: 1rem 0;
    max-width: 1500px;
    margin: 0 auto;
}

#cards.grid {
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 20px;
}

.grid .card {
    background-color: var(--accent-color-4);
    /* border: .5px solid var(--primary-color); */
    text-align: center;
    /* width: 100%; */
    padding: .5rem;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    grid-auto-rows: minmax(60px, 65px);
    position: relative;
    display: grid;
}

.grid .card:hover {
    border: 1px solid var(--secondary-color-lite);
    box-shadow: 3px 3px 3px #2c3e50;

}

.grid .card .name {
    font-weight: bold;
}

.grid .card .member-img {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.grid .card .member-img img {
    /* max-width: 95px; */
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.grid .card div {
    width: 100%;
    margin: 0 auto;
}

.grid .card div p,
.grid .card div a {
    width: 100%;
    display: block;
}

.grid .card .website a {
    background-color: var(--accent-color-3);
    color: #D8D8D8;
    padding: 1rem;
    /* position: absolute; */
    bottom: .5rem;
    text-decoration: none;
    font-weight: 600;
}

.grid .card .website a:hover {
    background-color: var(--accent-color-4);
    border: 1px solid var(--accent-color-3);
    color: var(--accent-color-3);
}


.details {
    display: none;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    align-items: stretch;
}

.list .card {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    border-bottom: none;
    align-items: stretch;
    /* min-width: fit-content; */
    background-color: var(--accent-color-4);
}

.list .card div {
    padding: 15px;
}

.list .card:nth-child(odd) {
    background-color: var(--accent-color-1);
}

.list .card .name {
    /* align-self: auto; */
    flex-wrap: nowrap;
    min-width: 220px;
    text-align: left;
    display: block;
}

.list .card .details {
    display: block;
    width: 100%;
    text-align: right;
    align-self: flex-start;
}

.list .card .addr {
    flex-wrap: nowrap;
    /* border: 1px solid red; */
    /* display: block; */
    min-width: 150px;
    /* max-width: 260px; */
    width: 100%;
    text-align: left;
    align-self: flex-start;
}

.list .card .phone {
    min-width: 100px;
}

.list .card .website {
    cursor: pointer;
    /* min-width: 250px; */
    /* text-align: left; */
    /* border: 1px solid red; */
}

.list .card .website a {}

.list .card p,
.list .card a {
    /* width: 100%; */
    /* display: block; */
    margin: 0;
    text-decoration: none;
}

.list .card .addr,
.list .card .phone,
.list .card .website,
.list .card img {
    display: none;
}

footer {
    /* margin-top: 1rem; */
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 0 20px var(--primary-color)
}

footer .footer-container {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    font-size: .7rem;
    justify-content: space-between;
}

footer .socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0;
}

footer .socials img {
    cursor: pointer;
}

footer .author-details {
    border: 0;
    padding: 10px 0;
}

footer .author-details .lstMod {
    color: var(--background-color);
}