@media screen and (min-width: 768px) {
    header .container {
        grid-template-columns: 200px 1fr 40px;
        grid-template-areas: "logo nav theme";
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
    }

    header .hamburger-btn {
        display: none;
    }

    header nav.show {
        display: block;
        background-color: transparent;
    }

    header nav.show ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    header nav.show ul li a.active,
    header nav.show ul li a:hover {
        border-left: none;
        border-bottom: 3px solid var(--background-color);
    }

    header .theme {
        padding: .5rem;

    }


    footer .footer-container {
        max-width: 1500px;
        margin: 0 auto;
        font-size: .9rem;
    }

    footer .socials {
        align-self: start;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 40px 0;
    }

    footer .socials img {
        cursor: pointer;
    }

    footer .author-details {
        border: 0;
        padding: 10px 0 10px 20px;
    }
}