:root {
    --primary-color: #B85042;
    --secondary-color: #2c3e50;
    --secondary-color-lite: #4c637a;
    --accent-color: #A7BEAE;
    --background-color: #E7E8D1;
    --text-color: #2c3e50;
    --header-font: 'Arial', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

body {
    background-color: #fff;
    /* var(--background-color);*/
    color: var(--text-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    font-size: 12px;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: .4rem 0 0;
    font-family: var(--header-font);
    display: grid;
    grid-template-columns: 1fr 50px 50px;
    grid-template-areas: "logo theme button"
        "nav nav nav";
    justify-content: center;
    align-items: center;
}

header .site-title {
    /* border: 1px solid red; */
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas: "logo title"
        "logo subtitle";
    column-gap: 5px;
    padding: .8rem;
}

header .site-title img {
    width: 48px;
    grid-area: logo;
    align-self: center;
}

header .site-title h1 {
    margin: 0;
    font-size: 1em;
    grid-area: logo;
    color: white;
    grid-area: title;
}

header .site-title p {
    margin: 0;
    font-size: .5rem;
    color: var(--accent-color);
    grid-area: subtitle;
}

header .hamburger-btn {
    /* display: none; */
    background: none;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    color: white;
    grid-area: button;
    justify-self: end;
    /* border: 1px solid white; */
}

header .hamburger-btn::before {
    content: "\268C";
    font-size: 1.5em;
}

header .hamburger-btn:hover {
    color: var(--accent-color);
}

header .theme {
    font-size: 1.5rem;
    justify-self: end;
    padding: .3rem .4rem;
    margin: 0;

}

/* header {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.5s ease-out;
} */


header nav.show {
    grid-area: nav;
    display: grid;
    grid-template-columns: 0fr;
    max-height: fit-content;
}

header nav.show ul {
    overflow: hidden;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header nav.show.open {
    grid-template-columns: 1fr;
}

header nav.show ul li {
    list-style: none;
}

header nav.show ul li a {
    color: white;
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav.show ul li a:hover,
header nav.show ul li a:active {
    background-color: var(--secondary-color-lite);
}

header nav.hide {
    max-height: 1000px;
    /* overflow: auto; */
}

main {
    padding: 20px;
}

main .grid-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .grid-list-container .btn {
    margin: 0 .4rem;
    /* padding: .5rem; */
    border: 0;
    background-color: transparent;
    cursor: pointers;
}

#cards.grid {
    /* max-width: 100%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    /* grid-template-columns: 1fr;/ */
    justify-content: center;
    gap: 20px;
}

.card {
    /* border: .5px solid var(--primary-color); */
    text-align: center;
    /* width: 100%; */
    padding: .5rem;
}

.list {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    align-items: stretch;
}


.list .card {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    border-bottom: none;
    align-items: stretch;
    /* min-width: fit-content; */
}

.list .card:last-of-type {
    /* border-bottom: 1px solid var(--primary-color); */
}

.list .card:nth-child(odd) {
    background-color: #f3f3f3;
}

.list .card .name {
    /* align-self: auto; */
    flex-wrap: nowrap;
    min-width: 120px;
    text-align: left;
    display: block;
}

.list .card .addr {
    flex-wrap: nowrap;
    border: 1px solid red;
    /* display: block; */
    min-width: 250px;
    /* max-width: 260px; */
    width: 100%;
    text-align: left;
    align-self: flex-start;
}

.list .card .phone {
    min-width: 100px;
}

.list .card .website {
    cursor: pointer;
    min-width: 250px;
    text-align: left;
    /* border: 1px solid red; */
}

.list .card p,
.list .card a {
    /* width: 100%; */
    /* display: block; */
    margin: 0;
    text-decoration: none;
}

/* .list .card .name::after,
.list .card .phone::after,
.list .card .addr::after {
    content: " | ";
    margin-right: 10px;
} */

.list .card .phone,
.list .card .website,
.list .card .addr {
    /* display: block; */
    /* text-align: left; */
    /* min-width: fit-content; */
}


/* 
.list .card.open .description,
.list .card.open .addr,
.list .card.open .phone,
.list .card.open img {
    display: none;
}


.list .card .addr,
.list .card .phone,*/
.list .card .description,
.list .card img {
    display: none;
}

footer {
    background-color: var(--primary-color);
    color: white;
    padding: 0 1rem;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}

footer .socials {
    align-self: flex-start;
    display: flex;
    align-items: end;
    margin: 20px 0;
    /* border: 1px solid white; */
}

footer .socials img {
    /* border: 1px solid white; */
    /* font-size: 1rem; */
    padding: 0 20px;
    cursor: pointer;

}

footer .author-details {
    border: 0;
}