@media screen and (min-width: 600px) {
    .join-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: start;
        max-width: 800px;
        /* height: 100vh; */
    }

    .join-container h1 {
        grid-column: 1/3;
    }

    .membership-level .card {
        transition: all 0.3s ease;
    }
}